@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav-bar {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 600;
  background: #ffffffee;
  z-index: 998;

  & .nav-menu {
    display: flex;

    & li {
      margin: 0 2rem;

      & a {
        color: #1a1a1a;
        transition: all .4s ease;
      }
    }
  }

  & .nav-logo {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .nav-search {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .fa {
    transition: all .3s ease;
  }

  & .nav-search:hover .fa {
    transform: scale(1.5);
  }
}

.first-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & .hero-banner {
    width: 100%;
    height: 100vh;
    background-image: url(./Images/เขาทุ่ง.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .banner-title {
    text-align: center;
    padding: 10px;

    & h1 {
      text-transform: uppercase;
      font-size: 40px;
      color: #ffffffc8;
    }

    & p {
      font-size: 20px;
      color: #cccccc;
    }
  }

  & .banner-button {
    width: 130px;
    height: 50px;
    margin: 20px 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1a1a;
    border-radius: 12px;
    cursor: pointer;
    transition: all .4s ease;

    & a {
      color: #cccccc;

    }
  }

  & .banner-button:hover {
    background: #ffffff9a;
  }
  & .banner-button a:hover {
    color: #1a1a1a;
  }
}

.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  & .box-content {
    width: 85%;
    height: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;

    & .box-title {
      width: 100%;
      height: 480px;
      padding: 3rem;
      text-align: left;

      & p {
        font-size: 18px;
      }
    }

    & .box-img {
      width: 85%;
      height: 480px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    & .box-img img {
      transition: all .4s ease;
    }

    & .box-img:hover img {
      transform: scale(1.08);
    }
  }
}

.third-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  & .card {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;

    & .card-content {
      width: 350px;
      height: 250px;
      background: #1a1a1a;
      border-radius: 20px;
      position: relative;
      overflow: hidden;
      text-align: center;
      margin: 20px 20px;

      & .card-img {
        width: 350px;
        height: 250px;
      }

      & .card-img img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: top center;
        transition: all .4s ease;
      }

      & .card-img:hover img {
        transform: scale(1.1);
      }

      & .card-title {
        position: absolute;
        bottom: 5px;
        width: 350px;
        height: auto;
        color: #ffffffb8;
        font-size: 20px;
      }
    }
  }
}

.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;

  & .contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 700px;
    overflow: hidden;
    border-radius: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  & .contact-title {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    color: #1a1a1a;
    line-height: 1.5;
    padding: 10px;
    margin: 10px 20px;
    margin-bottom: 20px;
  }

  & .contact-title b {
    font-weight: bold;
  }

  & .contact-title a {
    text-decoration: underline;
  }

  & .contact-img {
    position: absolute;
    top: 0;
    width: 400px;
    height: 350px;
    overflow: hidden;
    margin: 50px 20px;
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    & img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      object-position: center 0 5rem;
      transition: all .4s ease;
    }
  }

  & .contact-img:hover img {
    transform: scale(1.2);
  }

  & .footer {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background: #f2f2f271;
    display: flex;
    justify-content: center;
    align-items: center;

    & .icon-footer {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


/* Overlay */

.card-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  inset: 0;
  background: transparent;
  backdrop-filter: blur(10px);
  z-index: 999;
  cursor: pointer;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  color: #1a1a1a;
  margin: 30px 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  & img {
    width: 800px;
    height: 450px;
    border-radius: 20px;
    margin: 20px;
  }
}