@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

:root {
    --bg-default: rgb(255, 255, 255);
    --bg--negroni: #ecc194;
    --bg--white: #cccccc;
    --bg--dark: #1a1a1a;
    --bg--Chocolate: #452212;
    --bg--Green: rgb(77, 209, 62);
}

html {
    scroll-behavior: smooth;
}

.container {
    position: relative;
    height: 100vh;
    background: var(--bg-default);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;

    & .navbar {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 0;
        overflow: hidden;
        background: var(--bg--dark);
        backdrop-filter: blur(10px);
    }

    & .navbar a {
        float: left;
        color: var(--bg--white);
        text-align: center;
        padding: 20px 16px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        transition: all .4s ease;
        text-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    & .navbar a:hover {
        color: var(--bg--Green);
    }


}

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    & .image-slider {
        width: 100%;
        height: 600px;
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .4s ease;

        & .slides-div {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 20px;

            & .img {
                position: relative;
                width: 300px;
                height: 300px;
                transition: 0.5s;
                border-radius: 30px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }

            & .button {
                position: absolute;
                width: 300px;
                height: 300px;
                transition: 0.5s;
                border-radius: 30px;
            }
        }
    }
}


#slider-span1:target~.image-slider #img1,
#slider-span1:target~.image-slider #button-1 {
    width: 350px;
    height: 350px;
    background-color: transparent;
}

#slider-span2:target~.image-slider #img2,
#slider-span2:target~.image-slider #button-2 {
    width: 350px;
    height: 350px;
    background-color: transparent;
}

#slider-span3:target~.image-slider #img3,
#slider-span3:target~.image-slider #button-3 {
    width: 350px;
    height: 350px;
    background-color: transparent;
}

#textmode {
    position: absolute;
    right: 5%;
}

.toggle {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 17px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg--white);
    transition: all .4s ease;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--bg--dark);
    border-radius: 50%;
    transition: all .4s ease;
}

input:checked+.slider {
    background-color: var(--bg--Green);
}

input:checked+.slider:before {
    transform: translateX(26px);
    background: var(--bg--dark);
}

.dark-mode {
    .container {
        background: var(--bg--dark);
    }

    .navbar {
        background: var(--bg--white);
    }

    .navbar a {
        color: var(--bg--dark);
    }
}