<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style.css">
    <title>Movie Minds Hub</title>
    <link rel="icon" type="image/x-icon" href="../Icon/Icon-WebPage.png">
</head>

<body>

    <!-- Nav Bar Menu -->
    <div class="navbar">

        <!-- Menu -->
        <ul class="navbar-menu">
            <li> <a href="/" class="nav-item"> Home </a> </li>
            <li> <a href="/movies" class="nav-item"> Movie </a> </li>
            <li> <a href="/reviews" class="nav-item"> Review </a> </li>
            <li> <a href="/contact" class="nav-item"> Contact </a> </li>
        </ul>

        <!-- Logo Webpage -->
        <div class="navbar-logo">
            <img src="../Icon/Logo-WebPage.png" width="150px" height="150px">
        </div>

        <!-- Search Bar -->
        <div class="search-bar" id="searchBar">

            <input id="inputSearch" type="text" placeholder="Search ...">

        </div>

        <!-- Botton Login  -->
        <button class="button-login">
            <a href="/login"> Login </a>
        </button>

        <!-- Botton Register  -->
        <button class="button-register">
            <a href="/register"> register </a>
        </button>

    </div>

    <div class="forget-container">

        <h2>Forget Password</h2>

        <form action="/editPassword" method="POST">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>

            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>

            <form id="forgetForm">
                <button type="submit" class="button-submit-forget">Update Password</button>
            </form>

        </form>
    </div>

</body>

</html>