<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style.css">
    <!-- <script src="../Script/script.js"></script> -->
    <title>Movie Minds Hub</title>
    <link rel="icon" type="image/x-icon" href="../Icon/Icon-WebPage.png">
</head>

<body>

    <!-- Nav Bar Menu -->
    <div class="navbar">

        <!-- Menu -->
        <ul class="navbar-menu">
            <li> <a href="./index.html" class="nav-item"> Home </a> </li>
            <li> <a href="./Movie.html" class="nav-item"> Movie </a> </li>
            <li> <a href="./Review.html" class="nav-item"> Review </a> </li>
            <li> <a href="./Contact.html" class="nav-item"> Contact </a> </li>
        </ul>

        <!-- Logo Webpage -->
        <div class="navbar-logo">
            <img src="../Icon/Logo-WebPage.png" width="150px" height="150px">
        </div>


        <!-- Search Bar -->
        <div class="search-bar" id="searchBar">

            <input id="inputSearch" type="text" placeholder="Search ...">

        </div>

        <% if (loggedInUsername) { %>
        <!-- Show logout button and logged-in username if the user is logged in -->
            <div class="logged-in-username" id="loggedInUsername">
                <%= loggedInUsername %>
            </div>

            <form action="/logout" method="POST">

                <button type="submit" class="button-logout" id="logoutButton">Logout</button>
                
            </form>

        <% } else { %>
        <!-- Show login and register buttons if the user is not logged in -->
            <button class="button-login" id="loginButton">
                <a href="/login"> Login </a>
            </button>

            <button class="button-register" id="registerButton">
                <a href="/register"> Register </a>
            </button>
        <% } %>

    </div>

    <!-- Banner Content -->
    <div class="banner-container">

        <div class="banner-images">

            <!-- Title Banner -->
            <div class="banner-title">
                <h1> Movie <br> Minds Hub </h1>
            </div>

        </div>

    </div>
</body>

</html>