<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/search.css' rel='stylesheet'>
    <link rel="stylesheet" href="../Css/style.css">
    <title>Movie Minds Hub</title>
    <link rel="icon" type="image/x-icon" href="../Icon/Icon-WebPage.png">
</head>

<body>

    <!-- Nav Bar Menu -->
    <div class="navbar">

        <!-- Menu -->
        <ul class="navbar-menu">
            <li> <a href="/" class="nav-item"> Home </a> </li>
            <li> <a href="/movies" class="nav-item"> Movie </a> </li>
            <li> <a href="/reviews" class="nav-item"> Review </a> </li>
            <li> <a href="/contact" class="nav-item"> Contact </a> </li>
        </ul>

        <!-- Logo Webpage -->
        <div class="navbar-logo">
            <img src="../Icon/Logo-WebPage.png" width="150px" height="150px">
        </div>

        <!-- Search Bar -->
        <div class="search-bar" id="searchBar">

            <input id="inputSearch" type="text" placeholder="Search ...">

        </div>

        <!-- Botton Login  -->
        <button class="button-login">
            <a href="/login"> Login </a>
        </button>

        <!-- Botton Register  -->
        <button class="button-register">
            <a href="/register"> register </a>
        </button>

    </div>

    <div class="login-container">

        <h2>Login</h2>
        
        <form action="loginPost" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <form id="loginForm">
                <button type="submit" class="button-submit-login">Login</button>
            </form>

            <button class="forget-button">
                <a href="/forgetPassword">Forget password</a>
            </button> <br>


            <!-- Botton Register (conditional) -->
            <% if (!loggedInUsername) { %>
            <p>Don't have an account yet?
                <a href="/register">
                    <span class="registerTag">Register</span>
                </a>
            </p>
            <!-- <button class="registerTag" id="registerButton"> -->
            <!-- </button> -->
            <% } %>
        </form>
    </div>

</body>

</html>