@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Kanit', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav-bar {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 600;
  background: transparent;
  backdrop-filter: blur(10px);
  z-index: 999;

  & .nav-menu {
    display: flex;

    & li {
      margin: 0 1rem;

      & a {
        color: #1a1a1a;
        transition: all .3s ease;
      }
    }
  }

  & .nav-logo {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .nav-search {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .fa {
    transition: all .3s ease;
  }

  & .nav-search:hover .fa {
    transform: scale(1.5);
  }
}

.first-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & .box-content {
    width: 65%;
    height: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;

    & .box-title {
      width: 500px;
      height: 480px;
      position: absolute;
      right: 0;
      padding: 5rem;
    }

    & .box-img {
      width: 500px;
      height: 480px;
      position: absolute;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    & .box-img img {
      transition: all .4s ease;
    }

    & .box-img:hover img {
      transform: scale(1.1);
    }

    & .box-button {
      width: 150px;
      height: 60px;
      margin: 20px 0;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #1a1a1a;
      border-radius: 12px;
      color: #cccccc;
      cursor: pointer;

      & p {
        transition: all .4s ease;
      }
    }

    & .box-button:hover p {
      transform: scale(1.1);
    }
  }
}

.second-section {
  height: 100vh;
}