/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth"100;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-default: rgb(255, 255, 255);
    --bg--negroni: #ecc194;
    --bg--white: #ebe8e7;
    --bg--dark: #272829;
    --bg--Chocolate: #452212;
    --bg--Green: rgb(77, 209, 62);
    --bg--gray: #61677A;
    --bg--blue: #7a77b9;
    --bg--purple: #957DAD;
}

body {
    background: var(--bg--white);
    transition: all .4s ease;
}

/* Nav bar */
.navbar {
    width: 100%;
    height: 80px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #ffffffc9;
    z-index: 1;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

    /* Menu */
    & .navbar-menu {
        width: 500px;
        display: flex;
        justify-content: center;
        font-size: 20px;
        text-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

        & a {
            color: var(--bg--dark);
            margin: 30px;
            transition: all .5s ease;
        }

        & a:hover {
            color: #0056b3;
        }
    }

    & .navbar-logo {
        width: 630px;
        text-align: center;
    }

    /* Caption Webpage
    & .navber-caption {
            position: absolute;
            left: 13rem;
            margin-top: 10px;
    } */

    /* & .caption-text {
        position: absolute;
        left: 14rem;
        margin-top: 5px;
    } */

    /* & .navber-caption::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 1em;
        background-color: #000;
        margin-right: 0.5em;
    } */

    /* Search bar */
    & .search-bar {
        width: 300px;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    & .search-bar input {
        width: 230px;
        height: 50px;
        padding: 20px;
        margin-right: 10px;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: width 0.5s ease-in-out;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }

    & input:hover {
        width: 280px;
    }

}

.button-login,
.button-register,
.button-logout {
    outline: none;
    border: none;
    background: #ffffffc8;
    width: 70px;
    height: 48px;
    font-size: 15px;
    border-radius: 5px;
    margin: 10px;
    transition: all .4s ease;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

    & a {
        color: #272829;
    }
}

.button-login:hover,
.button-register:hover,
.button-logout:hover {
    transform: scale(1.1);
    background: #272829;
    color: #ebe8e7;

    & a {
        color: #ffffffc8;
    }
}

.logged-in-username {
    margin: 0 15px;
}

/* Banner Content */
.banner-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & .banner-images {
        width: 100%;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-image .8s cubic-bezier(0.4, 0, 0.2, 1);
        animation: changeImage 20s infinite;
    }

    & .banner-title {
        padding: 10px;

        & h1 {
            text-transform: uppercase;
            color: #ffffffc8;
            font-family: "Anton", sans-serif;
            font-size: 100px;
            font-weight: 700;
            font-style: normal;
            text-align: right;
            letter-spacing: 20px;
            position: absolute;
            right: 2%;
            bottom: 0;
            text-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        }
    }
}

/* Animation Change Images */
@keyframes changeImage {
    0% {
        background-image: url('../images/Movie-Banner1.png');
    }

    25% {
        background-image: url('../images/Movie-Banner2.jpg');
    }

    50% {
        background-image: url('../images/Movie-Banner3.jpg');
    }

    75% {
        background-image: url('../images/Movie-Banner4.jpg');
    }

    100% {
        background-image: url('../images/Movie-Banner5.png');
    }
}

/* Css Login.html & Register.html */

.login-container,
.register-container,
.forget-container {
    width: 450px;
    height: 450px;
    padding: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: #ffffffc8;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    & h2 {
        font-size: 35px;
        font-weight: 600;
        font-family: "Fredoka", sans-serif;
    }

    & .title {
        padding: 10px;
        font-size: 35px;
        font-weight: 600;
        font-family: "Fredoka", sans-serif;
    }

    & form {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    & label {
        margin-bottom: 5px;
    }

    & input {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }

    & .button-submit-login,
    .button-submit-forget {
        padding: 10px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: all .4s ease;
        margin-top: 15px;
    }

    & .button-submit-login:hover,
    .button-submit-forget:hover {
        background-color: #0056b3;
    }

    & .forget-button,
    .registerTag {
        margin: 20px;
        border: none;
        outline: none;
        background: none;
        font-size: 15px;
        color: #007BFF;
        transition: all .4s ease;
    }

    & .registerTag {
        margin: 0;
    }

    & .forget-button:hover,
    .registerTag:hover {
        color: blue;
    }

}

/* Css Movies */

.movie-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    & .movie-Genres {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 130px;

        & .back-button {
            border: none;
            outline: none;
            font-size: 20px;
            background: none;

            & img {
                width: 40px;
                height: 40px;
                transition: all .5s ease;
            }

            & img:hover {
                transform: scale(1.1);
                filter: drop-shadow(0 0 0.5rem rgba(30, 30, 30, 0.598));
            }
        }

        & ul {
            display: flex;
            justify-content: center;
            align-items: center;

            & li {
                margin: 20px;

                & a {
                    color: #272829;
                }
            }

            & .text-genre {
                font-size: 18px;
                text-transform: uppercase;
            }

            & .genres-name {
                transition: all .5s ease;
            }

            & .genres-name:hover {
                color: #0056b3;
            }
        }
    }

    .movie-list {
        width: 250px;
        height: 350px;
        margin: 10px 50px;
        margin-top: 10%;
        border-radius: 10px;
        overflow: hidden;
        transition: all .5s ease;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);

        & .movie-images {
            position: relative;

            & img {
                width: 100%;
                height: 350px;
                transition: all .5s ease;
            }

            & img:hover {
                transform: scale(1.05);
            }

            & .title {
                width: 100%;
                position: absolute;
                padding: 15px;
                font-size: 16px;
                color: #1a1a1a;
                text-align: center;
                bottom: 0;
                background: #ffffffaf;
            }
        }
    }

    @media only screen and (max-width: 700px) {
        .movie-list {
            width: calc(50% - 100px);
            margin: 6px 0;
        }
    }

    @media only screen and (max-width: 500px) {
        .movie-list {
            width: 100%;
        }
    }
}