/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth"100;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-default: rgb(255, 255, 255);
    --bg--negroni: #ecc194;
    --bg--white: #ebe8e7;
    --bg--dark: #272829;
    --bg--Chocolate: #452212;
    --bg--Green: rgb(77, 209, 62);
    --bg--gray: #61677A;
    --bg--blue: #7a77b9;
    --bg--purple: #957DAD;
}

body {
    background: var(--bg--white);
    transition: all .4s ease;
}

/* Nav bar */
.navbar {
    width: 100%;
    height: 80px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #ffffffc9;
    z-index: 1;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

    /* Menu */
    & .navbar-menu {
        width: 500px;
        display: flex;
        justify-content: center;
        color: var(--bg--dark);
        font-size: 20px;
        text-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        
        & a {
            margin: 30px;
        }
    }
    
    & .navbar-logo {
        width: 630px;
        text-align: center;
    }

    /* Caption Webpage
    & .navber-caption {
            position: absolute;
            left: 13rem;
            margin-top: 10px;
    } */

    /* & .caption-text {
        position: absolute;
        left: 14rem;
        margin-top: 5px;
    } */

    /* & .navber-caption::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 1em;
        background-color: #000;
        margin-right: 0.5em;
    } */

    /* Search bar */
    & .search-bar {
        width: 300px;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    
    & .search-bar input {
        width: 230px;
        height: 50px;
        padding: 5px;
        margin-right: 10px;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: width 0.5s ease-in-out;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }

    & input:hover {
        width: 280px;
    }

    & .button-login,
    .button-register {
        outline: none;
        border: none;
        background: #ffffffc8;
        width: 90px;
        height: 48px;
        font-size: 20px;
        border-radius: 5px;
        margin: 10px;
        transition: all .4s ease;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }

    & .button-login:hover,
    .button-register:hover {
        transform: scale(1.1);
        background: #272829;
        color: #ebe8e7;
    }

}

/* Banner Content */
.banner-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .banner-images {
        width: 100%;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-image .8s cubic-bezier(0.4, 0, 0.2, 1);
        animation: changeImage 20s infinite;
    }

    & .banner-title {
        padding: 10px;

        & h1 {
            text-transform: uppercase;
            color: #ffffffc8;
            font-family: "Anton", sans-serif;
            font-size: 100px;
            font-weight: 700;
            font-style: normal;
            text-align: right;
            letter-spacing: 20px;
            position: absolute;
            right: 2%;
            bottom: 0;
            text-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        }
    }
}

/* Animation Change Images */
@keyframes changeImage {
    0% {
        background-image: url('../images/Movie-Banner1.png');
    }

    25% {
        background-image: url('../images/Movie-Banner2.jpg');
    }

    50% {
        background-image: url('../images/Movie-Banner3.jpg');
    }

    75% {
        background-image: url('../images/Movie-Banner4.jpg');
    }

    100% {
        background-image: url('../images/Movie-Banner5.png');
    }
}